<!DOCTYPE html>
<html lang="en">

<head>

{% block head %}

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Dr. Beas Body Balms And Lotions{% endblock title %}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <link rel="shortcut icon" href="/static/favicon.ico">
    <!-- Bootstrap Core CSS -->
    {% block styles %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
{#    <link href="/static/vendor/bootstrap.min.css" rel="stylesheet" >#}
{#    <link href="/static/css/half-slider.css" rel="stylesheet">#}
    {% endblock %}
    {% block html5shim %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% endblock %}
    {% block extra_head %}
    {% endblock %}
{% endblock %}
</head>

<body>
{% block body %}
    {% block navbar %}
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            {% block navbar_sronly %}
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">{% block branding %}Dr. Beas - Body Balms and Lotions <i class="fa fa-forumbee"></i>{% endblock %}</a>
                </div>
            {% endblock %}
            <!-- Collect the nav links, forms, and other content for toggling -->
            {% block navbar_div %}
            <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
                {% block navbar_ul %}
                <ul class="nav navbar-nav">
                    {% block navbar_items %}
                    <li>
                        <a href="/page/about-us">About</a>
                    </li>
                    <li>
                        <a data-toggle="modal" href="#contactModal" ><span class="glyphicon glyphicon-envelope"></span>Contact</a>
                    </li>
                    <li>
                    <a href="#" data-toggle="modal" data-target="#shopping_modal">

                        <span class="glyphicon glyphicon-shopping-cart"></span> View Cart
                        [ $<span class="total_cost" data-bind="text:total_cost">{{ cart.total_cost|stringformat:"0.2f" }}</span> ]
                        </a>
                    </li>

                    {% endblock navbar_items%}
                </ul>
                {% endblock navbar_ul %}
            </div>
            {% endblock navbar_div%}
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    {% endblock %}
    {% block body_content %}
        <!-- Page Content -->
        <div class="container" style="padding-top: 50px">
            <div class="container">
                {% block content_top %}{% endblock %}
            </div>
            <div class="container">
                {% block content %}{% endblock content %}
            </div>
          <hr>
        {% block footer %}
          <footer style="text-align: center">
            {% block kenans_disclaimer %}{{ site.site_disclaimer }}{% endblock %}
          </footer><footer>
            {% block footer_content %}<p>&copy; Dr. Beas 2014</p>{% endblock footer_content %}
          </footer>
        {% endblock footer %}
        </div>
        <!-- /.container -->
    {% endblock body_content %}

    {% block extra_body %}

    {% endblock extra_body %}
    {% block scripts %}
        <script src="/static/vendor/jquery.js"></script>
        <script src="/static/vendor/bootstrap.min.js"></script>
        <script src="/static/jsx/cart.jsx"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
        <script src="/static/js/knockout-postbox.js"></script>
        <script>
        ko.bindingHandlers.modal = {
            init: function (element, valueAccessor) {
                $(element).modal({
                    show: false
                });

                var value = valueAccessor();
                if (ko.isObservable(value)) {
                    $(element).on('hide.bs.modal', function() {
                       value(false);
                    });
                }
                ko.utils.domNodeDisposal.addDisposeCallback(element, function () {
                   $(element).modal("destroy");
                });

            },
            update: function (element, valueAccessor) {
                var value = valueAccessor();
                if (ko.utils.unwrapObservable(value)) {
                    $(element).modal('show');
                } else {
                    $(element).modal('hide');
                }
            }
        };


            var my_cart = null;
            document.addEventListener("DOMContentLoaded", initialize_cart);
            function initialize_cart(){
                console.log("OK???");
                my_cart = new CartModel({cart_items:[]});
                my_cart.shipping_and_handling = {{ site.shipping_and_handling|default:"5.00" }};
                ko.applyBindings(my_cart);
                update_cart();
                console.log("fetching cart");
            };


            function add_product(id){
                $.getJSON('/api/v0/cart/add/'+id.toString(),function(d){
                    console.log("GOT JSON");
                    console.log(d);
                    update_cart(d);

                })
            }
            function update_cart(cart_data){
                if(undefined == cart_data){
                    return $.getJSON("/api/v0/cart",function(data){
                        console.log(data)
                        return update_cart(data)
                    })
                }
                my_cart.update_items(cart_data.cart_items)
                my_cart.update_discounts(cart_data.discounts)
                console.log("setting up items")
                console.log(cart_data)


            }

        </script>
    {% endblock %}
{% endblock %}
</body>

</html>
{% block modal_forms %}
    {# !!!!!! include modal forms here !!!!!! #}
{% endblock %}
